.about-section {
    background-color: #60a02b;
    padding: 20px;
  }
  
  .about-section .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
   background-color: #60a02b
  }
  
  .about-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-section p {
    font-size: 16px;
    line-height: 1.5;
  }
  