footer {
    background-color: #6ea575;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-section {
    margin: 20px;
  }
  .footer-section h3 {
    margin-bottom: 10px;
  }
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  .footer-section li {
    margin-bottom: 5px;
  }










