.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 80px;
    border: none;
    border-radius: 50px;
    background-color: #f5f5f5;
    cursor: pointer;
    position: relative;
    margin: 20px auto;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #e0e0e0;
  }
  
  .search-button i {
    margin-right: 8px;
  }
  
  .search-text {
    font-size: 18px;
    color: #070606;
  }
  
  