.Product-detail-img {


    margin:auto;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    text-align: center;

    
}

.product-detail
{
    margin: 0 auto;
    size: 50px;
    text-align: center;
   
    
}





