.hero {
    text-decoration-color: rgb(0, 0, 0);
    margin-top: 0%;
    display: flex;
    flex-direction: column; /* Added to stack elements vertically */
    align-items: center; /* Added to center align elements horizontally */
    height: auto;
    width: 1400px;
    padding-left: 300px;
  }
  
  .hero .content {
    width: 100%;
    text-align: center; /* Updated to center align text */
    max-width: 1500px;
    background-color:#cccfa5;

  }
  
  h1 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    align-items: center;
    width: 1000px;
  }

  

  
  .button {
    color: #ffffff;
    background-color: #ec78c2;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    
  }
  